@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

#checkOutFileds {}
#checkOutFileds input{
    max-width: 460px;
    width: 100%;
}
#errorPassword, #errorName, #errorLastName, #errorEmail, #errorPhone {
    display: none;
    text-align: center;
    width: 100%;
}
.showError {
    display: block!important;
}
